<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- =============================================== -->
    <!-- Document Title -->
    <!-- =============================================== -->
    <title>G6PD AWARENESS HUB</title>

    <!-- =============================================== -->
    <!-- Favicons -->
    <!-- =============================================== -->

    <link rel="manifest" href="{% static 'img/favicons/manifest.json' %}" />
    <meta name="msapplication-TileImage" content="{% static 'img/favicons/mstile-150x150.png' %}" />
    <meta name="theme-color" content="#ffffff" />

    <!-- =============================================== -->
    <!-- Stylesheets -->
    <!-- =============================================== -->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" />
    <style>
      .nav-link {
        color: red;
      }
    </style>
  </head>
  <style>
    #language_selector {
      width: 100px;
      border: none;
      outline: none;
      background-color: transparent;
      cursor: pointer;
      color: rgb(35, 35, 99);
      margin-top: 8px;
    }
    option {
      background-color: #f9f5f5;
      outline: none;
      border: none;
      padding: 2px;
    }
  </style>
  <body>
    <!-- =============================================== -->
    <!-- Main Content -->
    <!-- =============================================== -->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light bg-light py-3 d-block text-secondary fixed-top" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h1 class="fw-light font-base fs-6 fs-xxl-7"><strong>G6PD</strong></h1></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
              <li class="nav-item px-2">
                <a class="nav-link" aria-current="page" href="">About Us</a>
              </li>
              {% if user.is_authenticated %}
                <li class="nav-item px-2">
                  <a class="nav-link" href="{% url 'selfcare' %}">Coping G6PD</a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link" href="{% url 'user_images' %}">History</a>
                </li>
              {% endif %}
              <li class="nav-item dropdown px-2">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Managing G6PD</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="#g6pd">Whats is G6PD?</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#food-list">Foods to avoid</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#g6pd-guidelines">Symptoms & Guidelines</a>
                  </li>
                </ul>
              </li>
              <!-- Google Translate Language Selector -->
              <style>
                #language_selector {
                  width: 50px;
                  border: none;
                  outline: none;
                  background-color: rgb(255, 255, 255);
                }
                #language_selector option {
                  background-color: #f9f5f5;
                }
              </style>
              <li>
                <select id="language_selector" onchange="changeLanguageByButtonClick();">
                  <option value="en">English</option>
                  <option value="ar">Arabic</option>
                </select>
              </li>

              <!-- Google Translate Element (Hidden) -->
              <div id="google_translate_element" style="display:none;"></div>

              <!-- Custom CSS to Hide Google Translate Toolbar -->
              <style>
                body > .skiptranslate {
                  display: none !important;
                }
              </style>
              <style>
                .dropdown-menu {
                  display: none;
                  position: absolute;
                  background-color: #f9f9f9;
                  min-width: 150px;
                  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                  z-index: 1;
                }
                
                .avatar:hover .dropdown-menu {
                  display: block;
                }
                
                .dropdown-menu a {
                  color: black;
                  padding: 8px 5px;
                  text-decoration: none;
                  display: block;
                }
                
                .dropdown-menu a:hover {
                  background-color: #f1f1f1;
                }
                
                .avatar {
                  position: relative;
                  display: inline-block;
                  cursor: pointer;
                }
              </style>

              <!-- Google Translate Script -->
              <script type="text/javascript">
                function googleTranslateElementInit() {
                  new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element')
                }
              </script>
              <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

              <!-- Script to Change Language -->
              <script>
                function changeLanguageByButtonClick() {
                  var language = document.getElementById('language_selector').value
                  if (language) {
                    var selectField = document.querySelector('.goog-te-combo')
                    if (selectField) {
                      selectField.value = language
                      selectField.dispatchEvent(new Event('change'))
                    }
                  }
                }
              </script>
              {% comment %} <li class="nav-item dropdown px-2">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Languages</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="#">English</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Spanish</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">French</a>
                  </li>
                </ul>
              </li> {% endcomment %}
              <li class="nav-item px-2">
                <a class="nav-link" href="#findUs">Contact</a>
              </li>
            </ul>
            {% if not user.is_authenticated %}
              <a class="btn btn-sm btn-outline-danger rounded-pill order-1 order-lg-0 ms-lg-4" href="{% url 'register' %}">Sign In</a>
            {% endif %}
          </div>
        </div>
      </nav>
      {% if messages %}
        <div class="alert alert-dismissible fade show">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
      <section class="py-xxl-10 pb-0" id="home">
        <div class="bg-holder bg-size" style="
    background-image: url({% static 'img/gallery/hero-bg.png' %});
    background-position: top center;
    background-size: cover;
  "></div>
        <!-- /.bg-holder -->

        <div class="container">
          <div class="row min-vh-xl-100 min-vh-xxl-25">
            <div class="col-md-5 col-xl-6 col-xxl-7 order-0 order-md-1 text-end">
              <img class="pt-7 pt-md-0 w-100" src="{% static 'img/gallery/hero.png' %}" alt="hero-header" />
            </div>
            <div class="col-md-75 col-xl-6 col-xxl-5 text-md-start text-center py-6">
              <h1 class="fw-light font-base fs-6 fs-xxl-7">The <strong>G6PD Deficiency</strong> awareness for<br />your&nbsp;<strong>better life.</strong></h1>
              <p class="fs-1 mb-3">You can get the care you need 24/7 – be it online.</p>
              <a class="btn btn-lg btn-danger rounded-pill" href="{% url 'submit-assessment' %}" role="button">Self-Assessment Form</a>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-danger">
        <div class="bg-holder" style="
    background-image: url({% static 'img/gallery/bg-eye-care.png' %});
    background-position: center;
    background-size: contain;
  "></div>
        <!-- /.bg-holder -->

        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-5 col-xxl-6">
              <img class="img-fluid" src="{% static 'img/gallery/eye-care.png' %}" alt="..." />
            </div>
            <div class="col-md-7 col-xxl-6 text-center">
              <p class="text-light">Living with G6PDd can be very frustrating as there is no one-way symptoms manifest. Every G6PD deficient individual has limits and triggers that can be very unpredictable. Living with G6PDd is not a death sentence. Nutrition and wellness are ways we can protect ourselves from products and medications that include known G6PDd triggers. I hope that this information helps you to feel more confident living with G6PDd and knowing what you can do to feel your best and manage the condition.</p>
            </div>
          </div>
        </div>
      </section>
      <div class="container mt-4 mb-4 p-5" id="g6pd">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="mb-3">What is G6PD?</h1>
            <p class="text-dark">Glucose-6-phosphate dehydrogenase deficiency is a genetic disorder that affects red blood cells, which carry oxygen from the lungs to tissues throughout the body. In affected individuals, a defect in an enzyme called glucose-6-phosphate dehydrogenase causes red blood cells to break down prematurely. This destruction of red blood cells is called hemolysis.</p>

            <p class="text-dark mt-3">The most common medical problem associated with glucose-6-phosphate dehydrogenase deficiency is hemolytic anemia, which occurs when red blood cells are destroyed faster than the body can replace them. This type of anemia leads to paleness, yellowing of the skin and whites of the eyes (jaundice), dark urine, fatigue, shortness of breath, and a rapid heart rate. In people with glucose-6-phosphate dehydrogenase deficiency, hemolytic anemia is most often triggered by bacterial or viral infections or by certain drugs (such as some antibiotics and medications used to treat malaria). Hemolytic anemia can also occur after eating fava beans or inhaling pollen from fava plants (a reaction called favism).</p>
          </div>
        </div>
      </div>

      <div class="container mt-4 mb-4 p-5" id="food-list">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="mb-3">Foods to be Careful to Eat</h1>

            <p class="text-dark">
              <strong>Legumes in general:</strong>
            </p>
            <ul class="text-dark">
              <li>Fava beans</li>
              <li>Chickpeas</li>
              <li>Lentils</li>
              <li>Beans</li>
              <li>Soybeans</li>
              <li>Soy products</li>
              <li>Lupines</li>
              <li>Bitter gourd</li>
            </ul>

            <p class="text-dark mt-3">
              <strong>Sweets that contain nuts:</strong>
            </p>
            <ul class="text-dark">
              <li>Peanut butter</li>
              <li>Hazelnut cream</li>
            </ul>

            <p class="text-dark mt-3">
              <strong>Any food in which bean derivatives or legumes are included.</strong>
            </p>

            <p class="text-dark mt-3">
              <strong>Food sources containing vitamin C or vitamin K in large quantities.</strong>
            </p>
          </div>
        </div>
      </div>

      <div class="container mt-4 mb-4 p-5" id="g6pd-guidelines">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="mb-3">Important Guidelines for G6PD Deficiency</h1>

            <p class="text-dark">Symptoms of this disease may appear one to three days after eating beans or their derivatives.</p>

            <p class="text-dark">A lactating mother should avoid eating foods mentioned earlier if her child has G6PD deficiency.</p>

            <p class="text-dark">The patient should not take any medication without consulting a doctor.</p>

            <p class="text-dark">Read the food label when buying food products to avoid over-consumption of foods containing sulfites, which are used to preserve canned foods and may cause blood decay if taken in large doses.</p>

            <p class="text-dark">Be aware of menthol found in some canned sweets, candy, mint gum, and mouthwash products, which must be used in moderation.</p>

            <p class="text-dark">Other foods that contain sulfite and menthol include processed meats, canned soups, gravy cubes, toffee, and ready-made salad sauce.</p>

            <h3 class="mt-4 mb-3">Important Guidelines:</h3>
            <p class="text-dark">A person's external appearance does not indicate the disease. A simple laboratory analysis should be done to ensure this deficiency if a family member develops symptoms of the disease.</p>

            <h3 class="mt-4 mb-3">Remember:</h3>
            <p class="text-dark">See your doctor immediately if you notice the following symptoms:</p>

            <ul class="text-dark">
              <li>Yellowing or sudden paleness in the color of the skin (Jaundice)</li>
              <li>Dark urine color</li>
              <li>Sudden fatigue</li>
              <li>Nausea</li>
              <li>Dizziness</li>
              <li>Rapid heartbeat</li>
              <li>Shortness of breath</li>
            </ul>
          </div>
        </div>
      </div>

      <section class="pb-0" id="about">
        <div class="container">
          <div class="row">
            <div class="col-12 py-3">
              <div class="bg-holder bg-size" style="
            background-image: url({% static 'img/gallery/about-us.png' %});
            background-position: top center;
            background-size: contain;
          "></div>
              <!-- /.bg-holder -->

              <h1 class="text-center">ABOUT US</h1>
            </div>
          </div>
        </div>
        <!-- end of .container -->
      </section>

      <section class="py-5">
        <div class="bg-holder bg-size" style="
      background-image: url({% static 'img/gallery/about-bg.png' %});
      background-position: top center;
      background-size: contain;
    "></div>
        <!-- /.bg-holder -->

        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-lg-1 mb-5 mb-lg-0">
              <img class="fit-cover rounded-circle w-100" src="{% static 'img/gallery/health-care.png' %}" alt="..." />
            </div>
            <div class="col-md-6 text-center text-md-start">
              <h2 class="fw-bold mb-4">
                We have developed a healthcare
                <br class="d-none d-sm-block" />system around you
              </h2>
              <p class="text-dark">
                We believe that everyone should have easy access to excellent healthcare web app, especially tailored for those with G6PD deficiency.
                <br class="d-none d-sm-block" />
                Our aim is to simplify the process for our users and to provide care wherever they are — whether in person or at their convenience. <br class="d-none d-sm-block" />
                We think that everyone should have easy access to excellent healthcare.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="py-5">
        <div class="container" id="findUs">
          <div class="row">
            <div class="col-12 py-3">
              <div class="bg-holder bg-size" style="
                    background-image: url({% static 'img/gallery/people.png' %});
                    background-position: top center;
                    background-size: contain;
                "></div>
              <!-- /.bg-holder -->

              <h1 class="text-center">Contact Us</h1>
            </div>
          </div>
        </div>
        <!-- end of .container -->
      </section>

      <section class="py-8">
        <div class="container">
          <div class="row">
            <div class="bg-holder bg-size" style="
                background-image: url({% static 'img/gallery/dot-bg.png' %});
                background-position: bottom right;
                background-size: auto;
            "></div>
            <!-- /.bg-holder -->

            <div class="col-lg-6 z-index-2 mb-5">
              <img class="w-100" src="{% static 'img/gallery/appointment.png' %}" alt="..." />
            </div>
            <div class="col-lg-6 z-index-2">
              <form method="post" action="{% url 'contact' %}" class="row g-3">
                {% csrf_token %}
                <div class="col-md-6">
                  <label class="visually-hidden" for="inputName">Name</label>
                  <input name="name" class="form-control form-livedoc-control" id="inputName" type="text" placeholder="Name" required />
                </div>
                <div class="col-md-6">
                  <label class="visually-hidden" for="inputPhone">Phone</label>
                  <input name="phone" class="form-control form-livedoc-control" id="inputPhone" type="text" placeholder="Phone" required />
                </div>
                <div class="col-md-12">
                  <label class="form-label visually-hidden" for="inputEmail">Email</label>
                  <input name="email" class="form-control form-livedoc-control" id="inputEmail" type="email" placeholder="Email" required />
                </div>
                <div class="col-md-12">
                  <label class="form-label visually-hidden" for="validationTextarea">Message</label>
                  <textarea name="message" class="form-control form-livedoc-control" id="validationTextarea" placeholder="Message" style="height: 250px" required></textarea>
                </div>
                <div class="col-12">
                  <div class="d-grid">
                    <button class="btn btn-danger rounded-pill" type="submit">Send Message</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-danger">
        <div class="bg-holder bg-size" style="
        background-image: url({% static 'img/gallery/cta-bg.png' %});
        background-position: center right;
        margin-top: -8.125rem;
        background-size: contain;
    "></div>
        <!-- /.bg-holder -->

        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h2 class="fw-bold text-light">Get an update every week</h2>
              <p class="text-light">
                This web app was created in order to improve the patient experience.
                <br />Providing real-time product tests, and a wide range of other services.
              </p>
            </div>
            <div class="col-lg-6">
              <h5 class="mb-3 text-light">SUBSCRIBE TO NEWSLETTER</h5>
              <form class="row gx-2 gy-2 align-items-center">
                <div class="col">
                  <div class="input-group-icon">
                    <label class="visually-hidden" for="inputEmailCta">Address</label>
                    <input class="form-control form-livedoc-control form-cta-control text-dark" id="inputEmailCta" type="email" placeholder="Email" style="background-color: white" />
                  </div>
                </div>
                <div class="d-grid gap-3 col-sm-auto">
                  <button class="btn btn-lg btn-light rounded-3 px-5 py-3" type="submit">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <section class="py-0" style="background-color: #ffd0cd">
        <div class="bg-holder opacity-25" style="
        background-image: url({% static 'img/gallery/dot-bg.png' %});
        background-position: top left;
        margin-top: -3.125rem;
        background-size: auto;
    "></div>
        <!-- /.bg-holder -->

        <div class="container">
          <div class="row py-8">
            <div class="col-12 col-sm-12 col-lg-6 mb-4 order-0 order-sm-0">
              <a class="text-decoration-none" href="#"><h1 class="fw-light font-base fs-6 fs-xxl-7"><strong>G6PD</strong></h1></a>
              <p class="text-dark my-4">
                The world's most trusted <br />healthcare web app.
              </p>
            </div>

            <div class="col-6 col-sm-4 col-lg-2 mb-3 order-3 order-sm-2">
              <h5 class="lh-lg fw-bold text-red mb-4 font-sans-serif">Quick Links</h5>
              <ul class="list-unstyled mb-md-4 mb-lg-0">
                <li class="lh-lg">
                  <a class="footer-link" href="#!">About Us</a>
                </li>
                <li class="lh-lg">
                  <a class="footer-link" href="#!">Contact Us</a>
                </li>
                <li class="lh-lg">
                  <a class="footer-link" href="#!">Self Care</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- ============================================ -->
        <!-- <section> begin ============================ -->
        <section class="py-0 bg-danger">
          <div class="container">
            <div class="row justify-content-md-between justify-content-evenly py-4">
              <div class="col-12 col-sm-8 col-md-6 col-lg-auto text-center text-md-start">
                <p class="fs--1 my-2 fw-bold text-200">All rights Reserved &copy; G6PD, 2024</p>
              </div>
            </div>
          </div>
          <!-- end of .container -->
        </section>
        <!-- <section> close ============================ -->
        <!-- ============================================ -->
      </section>
    </main>
    <!-- =============================================== -->
    <!-- End of Main Content -->
    <!-- =============================================== -->

    <!-- =============================================== -->
    <!-- JavaScripts -->
    <!-- =============================================== -->
    <script src="{% static 'vendors/@popperjs/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/is/is.min.js' %}"></script>
    <script src="https://scripts.sirv.com/sirvjs/v3/sirv.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&amp;display=swap" rel="stylesheet" />
  </body>
</html>
