<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>G6PD AWARENESS HUB</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->

    <link rel="manifest" href="assets/img/favicons/manifest.json" />
    <meta
      name="msapplication-TileImage"
      content="assets/img/favicons/mstile-150x150.png"
    />
    <meta name="theme-color" content="#ffffff" />

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="assets/css/theme.css" rel="stylesheet" />
    <style>
      .nav-link {
        color: red;
      }
    </style>
  </head>

  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light fixed-top py-3 d-block text-secondary"
        data-navbar-on-scroll="data-navbar-on-scroll"
      >
        <div class="container">
          <a class="navbar-brand" href="index.html"
            ><h1 class="fw-light font-base fs-6 fs-xxl-7">
              <strong>G6PD</strong>
            </h1></a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"> </span>
          </button>
          <div
            class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
              <li class="nav-item px-2">
                <a class="nav-link" aria-current="page" href="#about"
                  >About Us</a
                >
              </li>
              <li class="nav-item px-2">
                <a class="nav-link" href="selfcare.html">Self Care</a>
              </li>
              <li class="nav-item dropdown px-2">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  G6PD Info
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="info.html">Whats is G6PD?</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="symptoms.html">Symptoms</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="triggers.html">Triggers</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="foods-to-avoid.html"
                      >Foods to avoid</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="emergency-care.html"
                      >Emergency Care</a
                    >
                  </li>
                  <!-- Add more languages as needed -->
                </ul>
              </li>

              <li class="nav-item dropdown px-2">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Languages
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">English</a></li>
                  <li><a class="dropdown-item" href="#">Spanish</a></li>
                  <li><a class="dropdown-item" href="#">French</a></li>
                  <!-- Add more languages as needed -->
                </ul>
              </li>

              <li class="nav-item px-2">
                <a class="nav-link" href="#findUs">Contact</a>
              </li>
            </ul>
            <a
              class="btn btn-sm btn-outline-danger rounded-pill order-1 order-lg-0 ms-lg-4"
              href="#!"
              >Sign In</a
            >
          </div>
        </div>
      </nav>
      <section class="py-xxl-10 pb-0" id="home">
        <div
          class="bg-holder bg-size"
          style="
            background-image: url(assets/img/gallery/hero-bg.png);
            background-position: top center;
            background-size: cover;
          "
        ></div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row min-vh-xl-100 min-vh-xxl-25">
            <div
              class="col-md-5 col-xl-6 col-xxl-7 order-0 order-md-1 text-end"
            >
              <img
                class="pt-7 pt-md-0 w-100"
                src="assets/img/gallery/hero.png"
                alt="hero-header"
              />
            </div>
            <div
              class="col-md-75 col-xl-6 col-xxl-5 text-md-start text-center py-6"
            >
              <h1 class="fw-light font-base fs-6 fs-xxl-7">
                <strong>Triggers of G6PD Deficiency</strong>
              </h1>

              <a
                class="btn btn-lg btn-danger rounded-pill"
                href="#!"
                role="button"
                >Self-Assessment Form</a
              >
            </div>
          </div>
        </div>
      </section>

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <!-- <section class="py-5" id="departments">
        <div class="container">
          <div class="row">
            <div class="col-12 py-3">
              <div
                class="bg-holder bg-size"
                style="
                  background-image: url(assets/img/gallery/bg-departments.png);
                  background-position: top center;
                  background-size: contain;
                "
              ></div>
              

              <h1 class="text-center">OUR DEPARTMENTS</h1>
            </div>
          </div>
        </div>
        
      </section> -->
      <!-- <section> close ============================-->
      <!-- ============================================-->

      <!-- ============================================-->

      <div class="container mt-4 mb-4">
        <h2 class="mb-3">Triggers of G6PD Deficiency</h2>
        <p class="text-dark">
          Individuals with Glucose-6-Phosphate Dehydrogenase (G6PD) deficiency
          have red blood cells that are particularly vulnerable to oxidative
          stress. This condition can be triggered by a variety of environmental,
          dietary, and medicinal factors that increase the oxidative load in the
          blood. Understanding these triggers is crucial for managing the
          condition and preventing the onset of symptoms, particularly hemolytic
          anemia.
        </p>
        <p  class="text-dark">
          <strong>Medicinal Triggers:</strong> Several medications are known to
          precipitate hemolysis in individuals with G6PD deficiency. These
          include certain antibiotics such as sulfonamides and nitrofurantoin,
          antimalarial drugs like primaquine and chloroquine, and some
          analgesics such as aspirin and nonsteroidal anti-inflammatory drugs
          (NSAIDs). Even some seemingly benign substances like naphthalene
          (found in mothballs) and certain blue dyes used in medical diagnostic
          tests can trigger hemolysis. It is imperative for patients and
          healthcare providers to be aware of these risks, and for those with
          G6PD deficiency to avoid these substances or use them only under close
          medical supervision.
        </p>
        <p  class="text-dark">
          <strong>Dietary Triggers:</strong> Favism is the acute hemolytic
          reaction to eating fava beans and is one of the most well-known
          dietary triggers for those with G6PD deficiency. The beans contain
          high levels of vicine and convicine, which can induce oxidative stress
          in susceptible individuals. Other legumes and a variety of foods and
          food additives also pose risks. Foods high in sulfur, such as certain
          dried fruits and processed meats, may contain sulfite preservatives
          that can exacerbate the condition. It’s important for individuals with
          G6PD deficiency to be mindful of their diet and potentially modify it
          to avoid these triggers.
        </p>
        <p  class="text-dark">
          <strong>Infection-Induced Oxidative Stress:</strong> Infections can
          impose significant oxidative stress on the body and can be a major
          trigger for hemolytic events in individuals with G6PD deficiency.
          Viral, bacterial, and even some parasitic infections increase the
          metabolic demand on red blood cells and can lead to their premature
          destruction. This is why even a simple infection can lead to a serious
          hemolytic crisis in someone with this enzyme deficiency. Effective
          management of infections, including prompt and appropriate treatment,
          is critical for preventing hemolytic episodes triggered by infections.
        </p>
        <p  class="text-dark">
          Understanding and avoiding these triggers is vital for those diagnosed
          with G6PD deficiency. Continuous education and preventive measures can
          significantly reduce the risks associated with this condition and
          improve quality of life for affected individuals.
        </p>
      </div>

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-5">
        <div class="container" id="findUs">
          <div class="row">
            <div class="col-12 py-3">
              <div
                class="bg-holder bg-size"
                style="
                  background-image: url(assets/img/gallery/people.png);
                  background-position: top center;
                  background-size: contain;
                "
              ></div>
              <!--/.bg-holder-->

              <h1 class="text-center">Contact Us</h1>
            </div>
          </div>
        </div>
        <!-- end of .container-->
      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->

      <section class="py-8">
        <div class="container">
          <div class="row">
            <div
              class="bg-holder bg-size"
              style="
                background-image: url(assets/img/gallery/dot-bg.png);
                background-position: bottom right;
                background-size: auto;
              "
            ></div>
            <!--/.bg-holder-->

            <div class="col-lg-6 z-index-2 mb-5">
              <img
                class="w-100"
                src="assets/img/gallery/appointment.png"
                alt="..."
              />
            </div>
            <div class="col-lg-6 z-index-2">
              <form class="row g-3">
                <div class="col-md-6">
                  <label class="visually-hidden" for="inputName">Name</label>
                  <input
                    class="form-control form-livedoc-control"
                    id="inputName"
                    type="text"
                    placeholder="Name"
                  />
                </div>
                <div class="col-md-6">
                  <label class="visually-hidden" for="inputPhone">Phone</label>
                  <input
                    class="form-control form-livedoc-control"
                    id="inputPhone"
                    type="text"
                    placeholder="Phone"
                  />
                </div>

                <div class="col-md-12">
                  <label class="form-label visually-hidden" for="inputEmail"
                    >Email</label
                  >
                  <input
                    class="form-control form-livedoc-control"
                    id="inputEmail"
                    type="email"
                    placeholder="Email"
                  />
                </div>
                <div class="col-md-12">
                  <label
                    class="form-label visually-hidden"
                    for="validationTextarea"
                    >Message</label
                  >
                  <textarea
                    class="form-control form-livedoc-control"
                    id="validationTextarea"
                    placeholder="Message"
                    style="height: 250px"
                    required="required"
                  ></textarea>
                </div>
                <div class="col-12">
                  <div class="d-grid">
                    <button class="btn btn-danger rounded-pill" type="submit">
                      Send Message
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-danger">
        <div
          class="bg-holder bg-size"
          style="
            background-image: url(assets/img/gallery/cta-bg.png);
            background-position: center right;
            margin-top: -8.125rem;
            background-size: contain;
          "
        ></div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h2 class="fw-bold text-light">Get an update every week</h2>
              <p class="text-light">
                This web app was created in order to improve the patient
                experience.
                <br />Providing real-time product tests, and a wide range of
                other services.
              </p>
            </div>
            <div class="col-lg-6">
              <h5 class="mb-3 text-light">SUBSCRIBE TO NEWSLETTER</h5>
              <form class="row gx-2 gy-2 align-items-center">
                <div class="col">
                  <div class="input-group-icon">
                    <label class="visually-hidden" for="inputEmailCta"
                      >Address</label
                    >
                    <input
                      class="form-control form-livedoc-control form-cta-control text-dark"
                      id="inputEmailCta"
                      type="email"
                      placeholder="Email"
                      style="background-color: white"
                    />
                  </div>
                </div>
                <div class="d-grid gap-3 col-sm-auto">
                  <button
                    class="btn btn-lg btn-light rounded-3 px-5 py-3"
                    type="submit"
                  >
                    Subscribe
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <section class="py-0" style="background-color: #ffd0cd">
        <div
          class="bg-holder opacity-25"
          style="
            background-image: url(assets/img/gallery/dot-bg.png);
            background-position: top left;
            margin-top: -3.125rem;
            background-size: auto;
          "
        ></div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row py-8">
            <div class="col-12 col-sm-12 col-lg-6 mb-4 order-0 order-sm-0">
              <a class="text-decoration-none" href="#"
                ><h1 class="fw-light font-base fs-6 fs-xxl-7">
                  <strong>G6PD</strong>
                </h1></a
              >
              <p class="text-dark my-4">
                The world's most trusted <br />healthcare web app.
              </p>
            </div>

            <div class="col-6 col-sm-4 col-lg-2 mb-3 order-3 order-sm-2">
              <h5 class="lh-lg fw-bold text-red mb-4 font-sans-serif">
                Quick Links
              </h5>
              <ul class="list-unstyled mb-md-4 mb-lg-0">
                <li class="lh-lg">
                  <a class="footer-link" href="#!">About Us</a>
                </li>
                <li class="lh-lg">
                  <a class="footer-link" href="#!">Contact US</a>
                </li>
                <li class="lh-lg">
                  <a class="footer-link" href="#!">Self Care</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="py-0 bg-danger">
          <div class="container">
            <div
              class="row justify-content-md-between justify-content-evenly py-4"
            >
              <div
                class="col-12 col-sm-8 col-md-6 col-lg-auto text-center text-md-start"
              >
                <p class="fs--1 my-2 fw-bold text-200">
                  All rights Reserved &copy; G6PD, 2024
                </p>
              </div>
            </div>
          </div>
          <!-- end of .container-->
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
      </section>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="vendors/@popperjs/popper.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
    <script src="vendors/is/is.min.js"></script>
    <script src="https://scripts.sirv.com/sirvjs/v3/sirv.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="vendors/fontawesome/all.min.js"></script>
    <script src="assets/js/theme.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fjalla+One&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&amp;display=swap"
      rel="stylesheet"
    />
  </body>
</html>
